.highlight {
  background: #ffffff;
  color: #24292e;

  .c     { color: #6a737d; font-style: italic }
  .err   { color: #f6f8fa; background-color: #d73a49 }
  .k     { color: #d73a49; font-weight: bold }
  .o     { color: #d73a49; font-weight: bold }
  .cm    { color: #6a737d; font-style: italic }
  .cp    { color: #6a737d; font-weight: bold }
  .c1    { color: #6a737d; font-style: italic }
  .cs    { color: #6a737d; font-weight: bold; font-style: italic }
  .gd    { color: #b31d28; background-color: #ffeef0 }
  .gd .x { color: #b31d28; background-color: #ffeef0 }
  .ge    { font-style: italic }
  .gr    { color: #d73a49 }
  .gh    { color: #005cc5 }
  .gi    { color: #22863a; background-color: #f0fff4 }
  .gi .x { color: #22863a; background-color: #f0fff4 }
  .go    { color: #6a737d }
  .gp    { color: #6a737d }
  .gs    { font-weight: bold }
  .gu    { color: #005cc5 }
  .kc    { color: #d73a49; font-weight: bold }
  .kd    { color: #d73a49; font-weight: bold }
  .kn    { color: #d73a49; font-weight: bold }
  .kp    { color: #d73a49 }
  .kr    { color: #d73a49; font-weight: bold }
  .kt    { color: #d73a49; font-weight: bold }
  .m     { color: #005cc5 }
  .s     { color: #032f62 }
  .na    { color: #e36209 }
  .nb    { color: #24292e }
  .nc    { color: #6f42c1; font-weight: bold }
  .no    { color: #005cc5 }
  .nd    { color: #6f42c1 }
  .ni    { color: #005cc5 }
  .ne    { color: #6f42c1; font-weight: bold }
  .nf    { color: #6f42c1; font-weight: bold }
  .nl    { color: #005cc5 }
  .nn    { color: #24292e }
  .nt    { color: #22863a }
  .nv    { color: #24292e }
  .ow    { color: #d73a49; font-weight: bold }
  .w     { color: #6a737d }
  .mb    { color: #005cc5 }
  .mf    { color: #005cc5 }
  .mh    { color: #005cc5 }
  .mi    { color: #005cc5 }
  .mo    { color: #005cc5 }
  .sb    { color: #032f62 }
  .sc    { color: #032f62 }
  .sd    { color: #032f62 }
  .s2    { color: #032f62 }
  .se    { color: #032f62 }
  .sh    { color: #032f62 }
  .si    { color: #032f62 }
  .sx    { color: #032f62 }
  .sr    { color: #032f62 }
  .s1    { color: #032f62 }
  .ss    { color: #032f62 }
}
