---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in paginator.posts %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>
<!-- Pagination -->
<nav aria-label="Posts Pagination">
  <ul class="pagination justify-content-center">

    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">&laquo; 上一页</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo; 上一页</span></li>
    {% endif %}

    {% for i in (1..paginator.total_pages) %}
      {% if i == paginator.page %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{% if i == 1 %}{{ "/" | relative_url }}{% else %}{{ "/posts/page" | append: i | append: "/" | relative_url }}{% endif %}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">下一页 &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">下一页 &raquo;</span></li>
    {% endif %}

  </ul>
</nav>

        {% endfor %}

        <!-- Pager 
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>-->
